#sun {
    z-index: 1;
    position: fixed;
    left: 0;
}

#start {
    z-index: 2;
    height: 20px;
    text-align: center;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 90%;
    margin-top: -10px;
    color: white;
    font-size: 22px;
}