#chat {
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 400px;
    position: absolute;
    left: 75%;
    margin-left: -200px;
    top: 20%;
    color: white;
}

#answer {
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
    height: 87%;
    vertical-align: bottom;
    font-size: 14px;
    padding-inline-end: 14px;
    margin-bottom: 5%;
}

#question {
    display: flex;
    height: 8%;
    max-height: 40%;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #ffffff33;
    height: 100%;
    width: 320px;

    margin-right: 5%;
    min-height: 100%;
    height: fit-content;
    padding-inline: 20px;
    padding-block: 2%;
}

#words {
    outline: none;
    z-index: 3;
    overflow: scroll;
    font-size: 20px;
    width: 280px;
    height: 80%;
    min-block-size: 1em;
    max-block-size: 5em;
    writing-mode: horizontal-tb; 
}

#microphone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff33;
    border-radius: 5px; 
    height: 100%;
    width: 60px;
    min-width: 15%;
    padding-block: 2%;
}

#icon {
    opacity: 0.6;
    height: 60%;
    width: 60%;
}

#start {
    z-index: 2;
    height: 20px;
    text-align: center;
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    top: 90%;
    margin-top: -10px;
    color: white;
    font-size: 22px;
}

#menu {
    z-index: 2;
    height: 30px;
    width: 30px;
    overflow: hidden;
    position: absolute;
    left: 15px;
    top: 15px;
}

#options {
    font-size: 24px;    
    color: white;
    z-index: 2;
    border-radius: 5px;
    background-color: #aaaaaaee;
    height: 250px;
    width: 370px;
    position: fixed;
    left: 50%;
    margin-left: -185px;
    top: 50%;
    margin-top: -125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.options {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 90%;
    background-color: #000000aa;
}

#settings {
    margin-top: 3%;
}

#exit {
    margin-bottom: 3%;
}

#sun {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}