#sun {
    z-index: 1;
    position: fixed;
    left: 0;
}

#menu {
    font-size: 24px;    
    color: white;
    z-index: 2;
    border-radius: 5px;
    background-color: #aaaaaaee;
    height: 250px;
    width: 370px;
    position: fixed;
    left: 50%;
    margin-left: -185px;
    top: 50%;
    margin-top: -125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.options {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 90%;
    background-color: #000000aa;
}

#settings {
    margin-top: 3%;
}

#exit {
    margin-bottom: 3%;
}